<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
		     <link rel="stylesheet" type="text/css" href="css/dingdan4.css"> 
			<link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
			<!--<link rel="stylesheet" type="text/css" href="css/common.css"/>-->
			<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
			<script src="js/swiper.min.js"></script>
	</head>
	<body>
		<div class="yf_box">
			<div class="yf_header">
				<div class="yf_headerleft">
					<img src="/static/xp_static/img/dd4-1.gif"/>
				</div>
				<span>饿了就吃早餐</span>
				<div class="yf_headerright">分享</div>
			</div>
			<div class="yf_banner">
				<img src="/static/xp_static/img/dd4-2.gif"/>
			</div>
			<div class="yf_first">
				<div class="yf_firstleft">
					<span>北京</span>
					<img src="/static/xp_static/img/dd4-4.gif"/>
				</div>
				<div class="yf_firstright">
					<input type="text" placeholder="请输入办公楼名字"/>
				</div>
			</div>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		</div>
	</body>
</html>
