<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
     <link rel="stylesheet" type="text/css" href="css/waimai.css"> 
	<link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
	<!--<link rel="stylesheet" type="text/css" href="css/common.css"/>-->
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
	<script src="js/swiper.min.js"></script>
</head>
   
<body>
	<div class="yf_box">
		<div class="yf_header">
			<div class="yf_header_top">
					<div class="yf_header_top_map_img">
						<img src="/static/xp_static/img/wm1.jpg"/>
					</div>
					北京市大兴区天宫院
				<img src="/static/xp_static/img/waimai2.jpg" style="margin-left: 0.325rem;"/>
			</div>
			<div class="yf_header_top_right">
				<div class="yf_header_top_right_p">36℃<br />高温
				<div class="yf_header_top_right_img"><img src="/static/xp_static/img/wm3.gif"/></div></div>
			</div>
			<div class="yf_header_search">
				<input type="text" placeholder="搜索商家、商品名称" src="/static/img/wm4.gif"/>
			</div>
			<div class="yf_header_ul">
				<ul>
					<li><a href="#">麻辣烫</a></li>
					<li><a href="#">汉堡包</a></li>
					<li><a href="#">西贝</a></li>
					<li><a href="#">玉米</a></li>
					<li><a href="#">我的菜</a></li>
				</ul>
			</div>		
		</div>
		<div class="yf_sort">
			<div class="yf_sort_div">
				<div class="yf_sort_div_top">
					<ul>
						<li><img src="/static/xp_static/img/wm5.gif"/><p>美食</p></li>
						<li><img src="/static/xp_static/img/wm6.gif"/><p>饮品</p></li>
						<li><img src="/static/xp_static/img/wm7.gif"/><p>超市福利</p></li>
						<li><img src="/static/xp_static/img/wm8.gif"/><p>早餐当</p></li>
					</ul>
					<div class="yf_sort_div_bottom">
						<ul>
						<li><img src="/static/xp_static/img/wm9.gif"/><p>蔬果</p></li>
						<li><img src="/static/xp_static/img/wm10.gif"/><p>新店</p></li>
						<li><img src="/static/xp_static/img/wm11.gif"/><p>外卖</p></li>
						<li><img src="/static/xp_static/img/wm12.gif"/><p>吃午饭</p></li>
					</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="yf_banner">
			<img src="/static/xp_static/img/wm-banner.gif"/>
		</div>
		<div class="yf_Concessions">
			<div class="yf_Concessions_top">
				<div class="yf_Concessions_top_left">
					<div class="yf_Concessions_top_font">
						<p>附近美食</p>
						<p>寻找周边美食</p>
					</div>
					<div class="yf_Concessions_top_img">
						<img src="/static/xp_static/img/wm-a.gif"/>
					</div>
				</div>
				<div class="yf_Concessions_top_right">
					<div class="yf_Concessions_top_font">
						<p>霸王餐</p>
						<p>领15元红包</p>
					</div>
					<div class="yf_Concessions_top_img">
						<img src="/static/xp_static/img/wm-b.gif"/>
					</div>
				</div>
			</div>
			<div class="yf_Concessions_bottom">
			<div class="yf_Concessions_top_left">
					<div class="yf_Concessions_top_font">
						<p>零食大全</p>
						<p>第二份半价</p>
					</div>
					<div class="yf_Concessions_top_img">
						<img src="/static/xp_static/img/wm-c.gif"/>
					</div>
				</div>
				<div class="yf_Concessions_top_right">
					<div class="yf_Concessions_top_font">
						<p>精品特价</p>
						<p>全场美食一折</p>
					</div>
					<div class="yf_Concessions_top_img">
						<img src="/static/xp_static/img/wm-d.gif"/>
					</div>
				</div>
			</div>
		</div>
		
		<div class="yf_Recommend">
			<h2>推荐商家</h2>
		</div>
		<div class="yf_first">
			<div class="yf_first_img"><img src="/static/xp_static/img/wm-1.gif"/></div>
			<div class="yf_first_right">
				<div class="yf_first_right_top">
					<div class="yf_first_right_top_top">
						<div class="yf_first_right_top_top_img">品牌</div>
						<span>肯德基宅急送(大兴龙湖…</span>
						<div class="yf_first_right_top_top_piao">票</div>
					</div>
					<div class="yf_first_right_top_cen">
					     <div class="yf_first_right_top_cen_img">
					     	<img src="/static/xp_static/img/wm-xing.gif"/>
					     </div>
					     <span>5.0</span>
					     <span>月售50单</span>
					</div>
					<div class="yf_first_right_top_bot">
						<pan>0元起送 /</pan>
						<yang>配送费 ￥9 /</yang>
						<fan>￥48/人 </fan>
				    </div>
				</div>
				<div class="yf_first_right_but">
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">减</div>
						<sa>满100减40</sa>
					</div>
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">新</div>
						<sa>新用户立减30元</sa>
					</div>
				</div>
			</div>
		</div>
		<div class="yf_first">
			<div class="yf_first_img"><img src="/static/xp_static/img/wm-2.gif"/></div>
			<div class="yf_first_right">
				<div class="yf_first_right_top">
					<div class="yf_first_right_top_top">
						<div class="yf_first_right_top_top_img">品牌</div>
						<span>阿香米线(北京大兴龙…</span>
						<div class="yf_first_right_top_top_piao">票</div>
					</div>
					<div class="yf_first_right_top_cen">
					     <div class="yf_first_right_top_cen_img">
					     	<img src="/static/xp_static/img/wm-xing.gif"/>
					     </div>
					     <span>5.0</span>
					     <span>月售146单</span>
					</div>
					<div class="yf_first_right_top_bot">
						<pan>20元起送 /</pan>
						<yang>配送费 ￥5 /</yang>
						<fan>￥32/人 </fan>
				    </div>
				</div>
				<div class="yf_first_right_but">
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">减</div>
						<sa>满40减10</sa>
					</div>
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">新</div>
						<sa>新用户立减30元</sa>
					</div>
				</div>
			</div>
		</div>
		<div class="yf_first">
			<div class="yf_first_img"><img src="/static/xp_static/img/wm-3.gif"/></div>
			<div class="yf_first_right">
				<div class="yf_first_right_top">
					<div class="yf_first_right_top_top">
						<div class="yf_first_right_top_top_img">品牌</div>
						<span>北京麦当劳永兴路餐厅</span>
						<div class="yf_first_right_top_top_piao">票</div>
					</div>
					<div class="yf_first_right_top_cen">
					     <div class="yf_first_right_top_cen_img">
					     	<img src="/static/xp_static/img/wm-xing.gif"/>
					     </div>
					     <span>4.90</span>
					     <span>月售525单</span>
					</div>
					<div class="yf_first_right_top_bot">
						<pan>20元起送 /</pan>
						<yang>配送费 ￥5 /</yang>
						<fan>￥32/人 </fan>
				    </div>
				</div>
				<div class="yf_first_right_but">
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">减</div>
						<sa>满50减6</sa>
					</div>
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">新</div>
						<sa>新用户立减17.60元</sa>
					</div>
				</div>
			</div>
		</div>
		<div class="yf_first">
			<div class="yf_first_img"><img src="/static/xp_static/img/wm-4.gif"/></div>
			<div class="yf_first_right">
				<div class="yf_first_right_top">
					<div class="yf_first_right_top_top">
						<div class="yf_first_right_top_top_img">品牌</div>
						<span>让不让(永兴路店)</span>
						<div class="yf_first_right_top_top_piao">保</div>
					</div>
					<div class="yf_first_right_top_cen">
					     <div class="yf_first_right_top_cen_img">
					     	<img src="/static/xp_static/img/wm-xing.gif"/>
					     </div>
					     <span>4.8</span>
					     <span>月售40单</span>
					</div>
					<div class="yf_first_right_top_bot">
						<pan>20元起送 /</pan>
						<yang>配送费 ￥5 /</yang>
						<fan>￥0/人 </fan>
				    </div>
				</div>
				<div class="yf_first_right_but">
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">减</div>
						<sa>满100减40</sa>
					</div>
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">新</div>
						<sa>新用户立减17元</sa>
					</div>
				</div>
			</div>
		</div>
		<div class="yf_first">
			<div class="yf_first_img"><img src="/static/xp_static/img/wm-5.gif"/></div>
			<div class="yf_first_right">
				<div class="yf_first_right_top">
					<div class="yf_first_right_top_top">
						<!--<div class="yf_first_right_top_top_img">品牌</div>-->
						<span>那些年板面烧烤</span>
						<div class="yf_first_right_top_top_piao">保</div>
					</div>
					<div class="yf_first_right_top_cen">
					     <div class="yf_first_right_top_cen_img">
					     	<img src="/static/xp_static/img/wm-xing.gif"/>
					     </div>
					     <span>4.5</span>
					     <span>月售217单</span>
					</div>
					<div class="yf_first_right_top_bot">
						<pan>20元起送 /</pan>
						<yang>配送费 ￥5 /</yang>
						<fan>￥14/人 </fan>
				    </div>
				</div>
				<div class="yf_first_right_but">
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">减</div>
						<sa>满50减7</sa>
					</div>
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">新</div>
						<sa>新用户立减20元</sa>
					</div>
				</div>
			</div>
		</div>
		<div class="yf_first">
			<div class="yf_first_img"><img src="/static/xp_static/img/wm-6.gif"/></div>
			<div class="yf_first_right">
				<div class="yf_first_right_top">
					<div class="yf_first_right_top_top">
						<span>黄焖鸡米饭</span>
						<div class="yf_first_right_top_top_piao">保</div>
					</div>
					<div class="yf_first_right_top_cen">
					     <div class="yf_first_right_top_cen_img">
					     	<img src="/static/xp_static/img/wm-xing.gif"/>
					     </div>
					     <span>4.7</span>
					     <span>月售134单</span>
					</div>
					<div class="yf_first_right_top_bot">
						<pan>20元起送 /</pan>
						<yang>配送费 ￥5 /</yang>
						<fan>￥14/人 </fan>
				    </div>
				</div>
				<div class="yf_first_right_but">
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">减</div>
						<sa>满25减14</sa>
					</div>
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">新</div>
						<sa>新用户立减23.0元</sa>
					</div>
				</div>
			</div>
		</div>
		<div class="yf_first">
			<div class="yf_first_img"><img src="/static/xp_static/img/wm-7.gif"/></div>
			<div class="yf_first_right">
				<div class="yf_first_right_top">
					<div class="yf_first_right_top_top">
						<div class="yf_first_right_top_top_img">品牌</div>
						<span>送欧巴紫菜包饭</span>
						<div class="yf_first_right_top_top_piao">保</div>
					</div>
					<div class="yf_first_right_top_cen">
					     <div class="yf_first_right_top_cen_img">
					     	<img src="/static/xp_static/img/wm-xing.gif"/>
					     </div>
					     <span>5.0</span>
					     <span>月售413单</span>
					</div>
					<div class="yf_first_right_top_bot">
						<pan>20元起送 /</pan>
						<yang>配送费 ￥5 /</yang>
						<fan>￥25/人 </fan>
				    </div>
				</div>
				<div class="yf_first_right_but">
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">减</div>
						<sa>满25减5</sa>
					</div>
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">新</div>
						<sa>新用户立减23.0元</sa>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<div class="yf_footer">
			<ul>
				<li><img src="/static/xp_static/img/wm_a.gif"><p>外卖</p></li>
				<li><img src="/static/xp_static/img/wm_b.gif"/><p>发现</p></li>
				<li><img src="/static/xp_static/img/wm_c.gif"/><p>订单</p></li>
				<li><img src="/static/xp_static/img/wm_d.gif"/><p>我的</p></li>
			</ul>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	</div>
	<script>
	    var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        paginationClickable: true,
	        loop:true,
	        autoplay:1000,
	        autoplayDisableOnInteraction:false,
	        speed:1000
	    });
    </script>
</body>
</html>