*{margin: 0;padding: 0;font-family:"微软雅黑";list-style: none;text-decoration: none;}
.main{
	width: 100%;
}
.JUZ{
    width: 8.75rem;
	margin: 0 auto;
}
.header{
	width: 100%;
	height: 1.375rem;
	background: #2196ff;
	line-height: 1.375rem;
}
.header img{
	width:0.42188rem;
	height:0.40625rem;
	float: left;
	margin: 0.48188rem 0.46875rem 0 0;
}
.header p{
	font-size: 0.54688rem;
	color: #fff;
}
.nav{
	width: 100%;
	height: 1.85938rem;
	border-bottom: 1px solid #dedfde;
	margin-bottom: 0.39063rem;
}
.nav ul li{
	float: left;
	width: 4.98219rem;
	height: 1.85938rem;
	text-align: center;
}
.nav ul li img{
	width: 0.5625rem;
	height: 0.57813rem;
	float: left;
	margin: 0.29688rem 2.20313rem 0.26563rem;
}
.nav ul li p{
	font-size: 0.375rem;
	color: #636563;
}
.content{
	width: 100%;
}
.content ul li{
	width: 100%;
	height: 1.17188rem;
	border-bottom: 1px solid #dedfde;
	line-height: 1.17188rem;
}
.content ul li h3{
	font-size: 0.51563rem;
	color: #313031;
	margin-left: 0.6153rem;
}
.content ul li p{
	float: left;
	color: #636163;
	font-size: 0.375rem;
	margin-left: 0.6153rem;
}
.content ul li img{
	width: 0.1875rem;
	height: 0.32813rem;
	float: right;
	margin-top: 0.5rem;
	margin-right: 0.6153rem;
}