<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load staticfiles %}
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'Person/css/style6.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body>
<div class="main">
    <!-- 头部 -->
    <div class="header">
        <div class="JUZ">
            <a href="{% url 'mine' %}"><img src="{% static 'Person/images/qian_03.png' %}"></a>
            <p>饿了就吃会员卡</p>
        </div>
    </div>
    <!-- 头部结束 -->
    <!-- banner -->
    <div class="banner">
        <img src="{% static 'Person/images/hui_03.png' %}">
    </div>
    <!-- banner结束 -->
    <!-- 内容 -->
    <div class="content">
        <ul>
            <li>
                <p><b>会员特权</b></p>
                <img src="{% static 'Person/images/qian_09.png' %}">
                <span>会员说明</span>
            </li>
        </ul>
        <dl>
            <dt>
                <img src="{% static 'Person/images/hui_07.png' %}">
                <h3>减免配送费</h3>
                <p>每月减免30单，每日可减免3单，每单最高减4元<br> 蜂鸟专送专享</p>
            </dt>
        </dl>
        <dl>
            <dt>
                <img src="{% static 'Person/images/hui_10.png' %}">
                <h3 style="margin-top:0.4rem;">专享积分兑换</h3>
                <p style="margin-top:0.9rem;margin-left:-2.2rem;">独有礼品0元兑换还包邮</p>
            </dt>
        </dl>
        <ul style="margin-top:0.390625rem;border-top:1px solid #ccc">
            <li>
                <p><b>购买记录</b></p>
                <img src="{% static 'Person/images/qian_09.png' %}">
                <span>开发票</span>
            </li>
        </ul>
    </div>
    <!-- 内容结束 -->
</div>
</body>
</html>