<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    {% load staticfiles %}
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<script src="{% static 'app.js' %}"></script>
	<link rel="stylesheet" href="{% static 'Person/css/style.css' %}">
</head>
<body>
	<div class="main">
		<!-- 头部 -->
		<div class="header">
			<div class="JUZ">
				<p>我的</p>
				<a href="{% url "install" %}" ><img src="{% static 'Person/images/tu_06.png' %}"></a>
				<a href="{% url "notice" %}"><img src="{% static 'Person/images/tu_03.png' %}"></a>
			</div>
		</div>
		<!-- 头部结束 -->
		<!-- 登入 -->
		<div class="login" onclick="window.location.href='{% url "change" %}'">
				<div class="JUZ">
					<img src="{% static 'Person/images/tu_11.png' %}" alt="">
					<div class="Lore">
						<p>4191360gf</p>
						<br>
						<img src="{% static 'Person/images/tu_17.png' %}" alt="">
						<span>176****9535</span>
					</div>
				</div>
				<img src="{% static 'Person/images/tu_14.png' %}">
		</div>
		<!-- 登入结束 -->
		<!-- 内容 -->
		<div class="content">
			<!-- nav导航 -->
			<div class="nav">
				<ul>
					<li onclick="window.location.href='{% url "wallet" %}'">
						<p>0.00<span>元</span></p>
						<p>钱包</p>
					</li>
					<li>
						<p style="color:#ff5d39;">4<span>个</span></p>
						<p>优惠</p>
					</li>
					<li style="border:none;">
						<p style="color:#6bc308;">0<span>分</span></p>
						<p>积分</p>
					</li>
				</ul>

			</div>
			<!-- nav导航结束 -->
			<!-- 列表 -->
			<div class="lists">
				<!-- 上 -->
				<div class="lists-t">
					<ul>
						<li onclick="window.location.href='{% url "address" %}'">
							<img src="{% static 'Person/images/tu_22.png' %}">
							<p>收货地址</p>
						</li>
						<li onclick="window.location.href='{% url "collection" %}'">
							<img src="{% static 'Person/images/tu_25.png' %}">
							<p>我的收藏</p>
						</li>
					</ul>
				</div>
				<!-- 中 -->
				<div class="lists-t">
					<ul>
						<li>
							<img src="{% static 'Person/images/tu_28.png' %}">
							<p>推荐有奖</p>
							<span>5元现金</span>
						</li>
						<li onclick="window.location.href='{% url "integral" %}'">
							<img src="{% static 'Person/images/tu_31.png' %}">
							<p>积分商城</p>
							<span>0元好物在这里</span>
						</li>
						<li onclick="window.location.href='{% url "member" %}'">
							<img src="{% static 'Person/images/tu_35.png' %}">
							<p>饿了就吃会员卡</p>
							<span>会员剩余：28天</span>
						</li>
						<li onclick="window.location.href='{% url "chioce" %}'">
							<img src="{% static 'Person/images/tu_39.png' %}">
							<p>每日精选</p>
							<span>一元起秒杀</span>
						</li>
					</ul>
				</div>
				<!-- 下 -->
				<div class="lists-t">
					<ul>
						<li onclick="window.location.href='{% url "service" %}'">
							<img src="{% static 'Person/images/tu_22.png' %}">
							<p>服务中心</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- 列表结束 -->
		</div>
		<!-- 底部 -->
		<div class="footer">
			<ul>
				<li onclick="window.location.href='#'">
					<img src="{% static 'Person/images/tu_43.png' %}">
					<p>外卖</p>
				</li>
				<li onclick="window.location.href='#'">
					<img src="{% static 'Person/images/tu_46.png' %}">
					<p>发现</p>
				</li>
				<li onclick="window.location.href='#'">
					<img src="{% static 'Person/images/tu_52.png' %}">
					<p>订单</p>
				</li>
				<li onclick="window.location.href='{% url "mine" %}'">
					<img src="{% static 'Person/images/tu_49.png' %}">
					<p style="color:#3192ef;">我的</p>
				</li>
			</ul>
		</div>



	</div>
</body>
</html>