<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    {% load staticfiles %}
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<script src="{% static 'app.js' %}"></script>
	<link rel="stylesheet" href="{% static 'Person/css/style12.css' %}">
</head>
<body>
	<div class="main">
		<!-- 头部 -->
		<div class="header">
			<div class="JUZ">
				<a href="change.html"><img src="{% static 'Person/images/tong_03.png' %}"></a>
				<p>用户名</p>
			</div>
		</div>
		<!-- 头部结束 -->
		<div class="content">
			<input type="text" placeholder="用户名" id="inp">
		</div>
		<p class="xiu">用户名只能修改一次（5-24个字）</p>
		<div class="JUZ">
			<button id="bg">确认修改</button>
		</div>
	</div>
	<script>
		inp.onchange=function(){
			this.style.color="#000";
			if (inp.value.length>=5&&inp.value.length<=24) {
				bg.style.background="#14e80f";
			}else{
				alert("输入错误！");
				bg.style.background=" #c5c5c5";
			}
			
		}
		bg.onclick=function(){
			window.location.href="change.html";
			String.prototype.sd=inp.value;
			window.localStorage.value=String.prototype.sd;
		}
	</script>
</body>
</html>