<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    {% load staticfiles %}
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="{% static 'Person/css/style4.css' %}">
	<script src="{% static 'app.js' %}"></script>
</head>
<body>
	<div class="main">
		<!-- 头部 -->
		<div class="header">
			<div class="JUZ">
				<a href="{% url 'mine' %}"><img src="{% static 'Person/images/qian_03.png' %}"></a>
				<p>我的钱包</p>
			</div>
		</div>
		<!-- 头部结束 -->
		<!-- 内容 -->
		<div class="content">
			<div class="content-t">
				<ul>
					<li>
						<p><b>我的余额</b></p>
					</li>
					<li>
						<img src="{% static 'Person/images/qian_06.png' %}">
						<p style="color:#313031;font-size:0.5625rem;margin-left:0;margin-top:-0.05rem;"><b>￥0.00</b></p>
						<img src="{% static 'Person/images/qian_09.png' %}" style="width:0.1875rem;height:0.328125rem;float:right;margin-right:0.625rem;margin-top:0.42rem;margin-left:0;">
						<span>不可提现</span>
					</li>
				</ul>
			</div>
			<div class="content-c">
				<ul>
					<li>
						<img src="{% static 'Person/images/qian_13.png' %}">
						<p><b>交易明细</b></p>
						<img src="{% static 'Person/images/qian_09.png' %}" style="width:0.1875rem;height:0.328125rem;float:right;margin-right:0.625rem;margin-top:0.42rem;margin-left:0;">
					</li>
				</ul>
			</div>
			<div class="content-c">
				<ul>
					<li>
						<img src="{% static 'Person/images/qian_16.png' %}">
						<p><b>支付设置</b></p>
						<img src="{% static 'Person/images/qian_09.png' %}" style="width:0.1875rem;height:0.328125rem;float:right;margin-right:0.625rem;margin-top:0.42rem;margin-left:0;">
					</li>
				</ul>
			</div>
		</div>
		<!-- 内容结束 -->

	</div>
</body>
</html>