<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
	    <link rel="stylesheet" type="text/css" href="css/faxian.css"> 
		<link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
		<!--<link rel="stylesheet" type="text/css" href="css/common.css"/>-->
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
		<script src="js/swiper.min.js"></script>
	</head>
	<body>
		<div class="yf_box">
			<div class="yf_header">
				<p>发现</p>
			</div>
			<div class="yf_active">
				<div class="yf_active_top">
					<div class="yf_active_topleft">
						<div class="yf_active_topleft_font">
							<p>积分商城</p>
							<p>0元好物在这里！</p>
						</div>
						<div class="yf_active_topleft_img">
							<img src="/static/img/fx-1.gif"/>
						</div>
					</div>
					<div class="yf_active_topright">
						<div class="yf_active_toprightfirst">
							<div class="yf_active_topleft_font1">
								<p>美味爆料</p>
								<p>想吃零食快来点我</p>
							</div>
							<div class="yf_active_toprightfirst_img">
								<img src="/static/img/fx-2.gif"/>
							</div>
						</div>
						<div class="yf_active_toprightfirst">
							<div class="yf_active_topleft_font1">
								<p style="color: #2F2FF6;">推荐有奖</p>
								<p>十元现金不停</p>
							</div>
							<div class="yf_active_toprightfirst_img">
								<img src="/static/img/fx-3.gif"/>
							</div>
						</div>
					</div>
				</div>
				<div class="yf_active_bottom">
				    <div class="yf_active_bottomleft">
				    	<div class="yf_active_topleft_font">
								<p style="color: #FC9AF4;">推荐有奖</p>
								<p>每月最高500M</p>
						</div>
						<div class="yf_active_bottomleft_img">
							<img src="/static/img/fx-4.gif"/>
						</div>
				    </div>
				    <div class="yf_active_bottomleft">
				    	<div class="yf_active_topleft_font">
								<p style="color: #2EED7A;">推荐有奖</p>
								<p>每月最高500M</p>
						</div>
						<div class="yf_active_bottomleft_img">
							<img src="/static/img/fx-5.gif"/>
						</div>
				    </div>	
				</div> 
			</div>
			<div class="yf_banner">
				<img src="/static/img/fx-banner.gif"/>
			</div>
			<div class="yf_first">
				<div class="yf_first_top">
					<div class="yf_first_topfont">
						<img src="/static/img/fx-7.gif"/>
						<p>特价商品，一网打尽</p>
					</div>
				</div>
				<div class="yf_first_cen">
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-a.gif"/>
						</div>
						<p>香辣鸡腿堡</p>
						<p><span>￥1</span><span>&nbsp;&nbsp;<del>￥10</del></span></p>
					</div>
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-b.gif"/>
						</div>
						<p>单人套餐</p>
						<p><span>￥16.08</span><span><del>￥24</del></span></p>
					</div>
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-c.gif"/>
						</div>
						<p>咖喱鸡饭</p>
						<p><span>￥10</span><span><del>￥20</del></span></p>
					</div>
					</div>
					
					</div>
					<div class="yf_first">
				<div class="yf_first_top">
					<div class="yf_first_topfont">
						<img src="/static/img/fx-7.gif"/>
						<p>特价商品，一网打尽</p>
					</div>
				</div>
				<div class="yf_first_cen">
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-a.gif"/>
						</div>
						<p>香辣鸡腿堡</p>
						<p><span>￥1</span><span><del>￥10</del></span></p>
					</div>
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-b.gif"/>
						</div>
						<p>单人套餐</p>
						<p><span>￥16.08</span><span><del>￥24</del></span></p>
					</div>
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-c.gif"/>
						</div>
						<p>咖喱鸡饭</p>
						<p><span>￥10</span><span><del>￥20</del></span></p>
					</div>
					</div>
					
					</div>
					<div class="yf_first">
				<div class="yf_first_top">
					<div class="yf_first_topfont">
						<img src="/static/img/fx-7.gif"/>
						<p>特价商品，一网打尽</p>
					</div>
				</div>
				<div class="yf_first_cen">
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-a.gif"/>
						</div>
						<p>香辣鸡腿堡</p>
						<p><span>￥1</span><span><del>￥10</del></span></p>
					</div>
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-b.gif"/>
						</div>
						<p>单人套餐</p>
						<p><span>￥16.08</span><span><del>￥24</del></span></p>
					</div>
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-c.gif"/>
						</div>
						<p>咖喱鸡饭</p>
						<p><span>￥10</span><span><del>￥20</del></span></p>
					</div>
					</div>
					
					</div>
					<div class="yf_first">
				<div class="yf_first_top">
					<div class="yf_first_topfont">
						<img src="/static/img/fx-7.gif"/>
						<p>特价商品，一网打尽</p>
					</div>
				</div>
				<div class="yf_first_cen">
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-a.gif"/>
						</div>
						<p>香辣鸡腿堡</p>
						<p><span>￥1</span><span><del>￥10</del></span></p>
					</div>
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-b.gif"/>
						</div>
						<p>单人套餐</p>
						<p><span>￥16.08</span><span><del>￥24</del></span></p>
					</div>
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-c.gif"/>
						</div>
						<p>咖喱鸡饭</p>
						<p><span>￥10</span><span><del>￥20</del></span></p>
					</div>
					</div>
					
					</div>
					<div class="yf_first">
				<div class="yf_first_top">
					<div class="yf_first_topfont">
						<img src="/static/img/fx-7.gif"/>
						<p>特价商品，一网打尽</p>
					</div>
				</div>
				<div class="yf_first_cen">
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-a.gif"/>
						</div>
						<p>香辣鸡腿堡</p>
						<p><span>￥1</span><span><del>￥10</del></span></p>
					</div>
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-b.gif"/>
						</div>
						<p>单人套餐</p>
						<p><span>￥16.08</span><span><del>￥24</del></span></p>
					</div>
					<div class="yf_first_cen_first">
						<div class="yf_first_cen_first_img">
                              <img src="/static/img/fx-c.gif"/>
						</div>
						<p>咖喱鸡饭</p>
						<p><span>￥10</span><span><del>￥20</del></span></p>
					</div>
					</div>
					
					</div>
				</div>
			</div>
			<div class="yf_footer">
			<ul>
				<li><img src="/static/img/wm_a.gif"><p>外卖</p></li>
				<li><img src="/static/img/wm_b.gif"/><p>发现</p></li>
				<li><img src="/static/img/wm_c.gif"/><p>订单</p></li>
				<li><img src="/static/img/wm_d.gif"/><p>我的</p></li>
			</ul>
		</div>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		</div>
		<script>
	    var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        paginationClickable: true,
	        loop:true,
	        autoplay:1000,
	        autoplayDisableOnInteraction:false,
	        speed:1000
	    });
    </script>
	</body>
</html>
