*{margin: 0;padding: 0;font-family:"微软雅黑";list-style: none;text-decoration: none;}
.main{
	width: 100%;
}
.JUZ{
    width: 8.75rem;
	margin: 0 auto;
}
.header{
	width: 100%;
	height: 1.375rem;
	background: #2196ff;
	line-height: 1.375rem;
	margin-bottom: 0.390625rem;
}
.header img{
	width: 0.53125rem;
	height: 0.53125rem;
	float: left;
	margin: 0.42188rem 0.46875rem 0 0;
}
.header p{
	font-size: 0.54688rem;
	color: #fff;
}
.content{
	width: 100%;
	overflow: hidden;
	background: #f7f7f7;
}
.head{
	width: 100%;
	height: 2.75rem;
	background: #fff;
	border-top:1px solid #efebef;
	border-bottom: 1px solid #efebef;
}
.head ul li{
	width: 100%;
	height:1.5625rem;
	border-bottom: 1px solid #efebef;
}
.head ul li p{
	font-size: 0.403125rem;
	float: left;
	line-height: 1.5625rem;
}
.head ul li img{
	width: 1.3125rem;
	height: 1.3125rem;
	float: right;
	margin-top: 0.2rem;
}
.head ul li span{
	float: right;
	color: #9c9a9c;
	font-size: 0.21875rem;
	line-height: 1.171875rem;
}
.zhang_hu{
	width: 100%;
	overflow: hidden;
	margin-top: 0.390625rem;
	background: #fff;
}
.zhang_hu ul li{
	font-size: 0.3125rem;
	height: 1.17rem;
	line-height: 1.17rem;
	border-bottom: 1px solid #efebef;
}
.zhang_hu ul li img{
	width: 0.7rem;
	height: 0.7rem;
	float: left;
	margin-top: 0.18rem;
}
.zhang_hu ul li p{
	float: left;
	margin:0 0 0 0.268rem;
	font-size: 0.403125rem;
	line-height: 1.171875rem;
}
.zhang_hu ul li span{
	float: right;
	color: #9c9a9c;
	font-size: 0.21875rem;
	line-height: 1.171875rem;
}
.logo{
	width: 80%;
	height:4.125rem;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: #fff;
	display: none;
}
.logo ul li{
	width: 100%;
	height: 1.3rem;
}
.logo ul li h3{
	font-size: 0.53125rem;
	margin-left: 1rem;
	line-height: 1.3rem;
}
.logo ul li p{
	font-size: 0.3rem;
	color: #333;
	margin-left: 1rem;
	line-height: 1.3rem;
}
#btn{
	display: none;
	width: 100%;
	height: 100%;
	background: #ccc;
	position: absolute;
	left: 0;
	top: 0;
}