<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <script src="/static/Order-dinner/js/jquery-1.7.1.min.js"></script>
    <script src="/static/Order-dinner/js/require.js"></script>
    <script src="/static/Order-dinner/js/shop.js"></script>

</head>
<body>
<div class="cart_main">
          <div class="cart_good" data-cartid="11" data-marketprice="223.00" data-goodsid="5" sel="1" data-maxbuy="0" data-stock="96">
               <div class="ico"><i class="fa fa-check-circle" style="color:#fd650f;"></i></div>
               <div class="img" onclick="location.href='http://upin.chenhua.cc/app/index.php?i=4&amp;c=entry&amp;p=detail&amp;do=shop&amp;m=ewei_shop&amp;id=5'"><img src="http://upin.chenhua.cc/attachment/images/4/2016/07/Vyzxer0LRUw8rgE0bASwwsY0GZx033.jpg"></div>
                <div class="info">
                      <div class="name" onclick="location.href='http://upin.chenhua.cc/app/index.php?i=4&amp;c=entry&amp;p=detail&amp;do=shop&amp;m=ewei_shop&amp;id=5'">罗生菜我饿肌肉</div>
                      <div class="other">
                           <div class="price">￥223.00</div>
                           <div class="price1"><span class="line">333KG</span></div>
                           <div class="num"><div class="leftnav">-</div><input type="text" class="shownum" value="1"><div class="rightnav">+</div></div>
                      </div>
                </div>
          </div>
          <div class="cart_good" data-cartid="11" data-marketprice="223.00" data-goodsid="5" sel="1" data-maxbuy="0" data-stock="96">
               <div class="ico"><i class="fa fa-check-circle" style="color:#fd650f;"></i></div>
               <div class="img" onclick="location.href='http://upin.chenhua.cc/app/index.php?i=4&amp;c=entry&amp;p=detail&amp;do=shop&amp;m=ewei_shop&amp;id=5'"><img src="http://upin.chenhua.cc/attachment/images/4/2016/07/Vyzxer0LRUw8rgE0bASwwsY0GZx033.jpg"></div>
                <div class="info">
                      <div class="name" onclick="location.href='http://upin.chenhua.cc/app/index.php?i=4&amp;c=entry&amp;p=detail&amp;do=shop&amp;m=ewei_shop&amp;id=5'">罗生菜我饿肌肉</div>
                      <div class="other">
                           <div class="price">￥223.00</div>
                           <div class="price1"><span class="line">333KG</span></div>
                           <div class="num"><div class="leftnav">-</div><input type="text" class="shownum" value="1"><div class="rightnav">+</div></div>
                      </div>
                </div>
          </div>
          <div class="cart_good" data-cartid="11" data-marketprice="223.00" data-goodsid="5" sel="1" data-maxbuy="0" data-stock="96">
               <div class="ico"><i class="fa fa-check-circle" style="color:#fd650f;"></i></div>
               <div class="img" onclick="location.href='http://upin.chenhua.cc/app/index.php?i=4&amp;c=entry&amp;p=detail&amp;do=shop&amp;m=ewei_shop&amp;id=5'"><img src="http://upin.chenhua.cc/attachment/images/4/2016/07/Vyzxer0LRUw8rgE0bASwwsY0GZx033.jpg"></div>
                <div class="info">
                      <div class="name" onclick="location.href='http://upin.chenhua.cc/app/index.php?i=4&amp;c=entry&amp;p=detail&amp;do=shop&amp;m=ewei_shop&amp;id=5'">罗生菜我饿肌肉</div>
                      <div class="other">
                           <div class="price">￥223.00</div>
                           <div class="price1"><span class="line">333KG</span></div>
                           <div class="num"><div class="leftnav">-</div><input type="text" class="shownum" value="5"><div class="rightnav">+</div></div>
                      </div>
                </div>
          </div>
     </div>
     <!--结算 S-->
     <div class="cart_pay">
          <div class="all" sel="1"><i class="fa fa-check-circle" style="color:#fd671a;"></i> <span class="t">全选</span></div>
        <div class="paysub ">结算(<span class="total">3</span>)</div>
        <div class="text">合计：<span>￥<span class="totalprice">584.00</span></span><br><span style="color:#999; font-size:14px;">不含运费</span></div>
    </div>
     <!--结算 E-->

</body>
</html>