<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
     <link rel="stylesheet" type="text/css" href="/static/xp_static/css/waimai.css">
</head>
   
<body>
	<div class="yf_box">
		<div class="yf_header">
			<div class="yf_header_top">
					<div class="yf_header_top_map_img">
						<img src="static/img/wm1.jpg"/>
					</div>
					北京市大兴区天宫院
				<img src="/static/xp_static/img/waimai2.jpg" style="margin-left: 0.325rem;"/>
			</div>
			<div class="yf_header_top_right">
				<div class="yf_header_top_right_p">36℃<br />高温
				<div class="yf_header_top_right_img"><img src="/static/xp_static/img/wm3.gif"/></div></div>
			</div>
			<div class="yf_header_search">
				<input type="text" placeholder="搜索商家、商品名称" src="/static/img/wm4.gif"/>
			</div>
			<div class="yf_header_ul">
				<ul>
					<li><a href="#">麻辣烫</a></li>
					<li><a href="#">汉堡包</a></li>
					<li><a href="#">西贝</a></li>
					<li><a href="#">玉米</a></li>
					<li><a href="#">我的菜</a></li>
				</ul>
			</div>		
		</div>
		<div class="yf_sort">
			<div class="yf_sort_div">
				<div class="yf_sort_div_top">
					<ul>
						<li onclick="window.location.href='/meisi/'"><img src="/static/xp_static/img/wm5.gif"/><p>美食</p></li>
						<li onclick="window.location.href='/drink/'"><img src="/static/xp_static/img/wm6.gif"/><p>饮品</p></li>
						<li onclick="window.location.href='/supermarkete/'"><img src="/static/xp_static/img/wm7.gif"/><p>超市福利</p></li>
						<li onclick="window.location.href='/drink/'"><img src="/static/xp_static/img/wm8.gif"/><p>早餐当</p></li>
					</ul>
					<div class="yf_sort_div_bottom">
						<ul>
						<li onclick="window.location.href='/supermarkete/'"><img src="/static/xp_static/img/wm9.gif"/><p>蔬果</p></li>
						<li onclick="window.location.href='/meisi/'"><img src="/static/xp_static/img/wm10.gif"/><p>新店</p></li>
						<li onclick="window.location.href='/drink/'"><img src="/static/xp_static/img/wm11.gif"/><p>外卖</p></li>
						<li onclick="window.location.href='/drink/'"><img src="/static/xp_static/img/wm12.gif"/><p>吃午饭</p></li>
					</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="yf_banner">
            <a href="/meisi/"><img src="/static/xp_static/img/wm-banner.gif"/></a>
		</div>
		<div class="yf_Concessions">
			<div class="yf_Concessions_top">
				<div class="yf_Concessions_top_left">
					<div class="yf_Concessions_top_font">
						<p onclick="window.location.href='/nearmeisi/'">附近美食</p>
						<p>寻找周边美食</p>
					</div>
					<div class="yf_Concessions_top_img">
						<img src="/static/xp_static/img/wm-a.gif"/>
					</div>
				</div>
				<div class="yf_Concessions_top_right">
					<div class="yf_Concessions_top_font">
							<p onclick="window.location.href='/nearmeisi/'">霸王餐</p>
						<p>领15元红包</p>
					</div>
					<div class="yf_Concessions_top_img">
						<img src="/static/xp_static/img/wm-b.gif"/>
					</div>
				</div>
			</div>
			<div class="yf_Concessions_bottom">
			<div class="yf_Concessions_top_left">
					<div class="yf_Concessions_top_font">
							<p onclick="window.location.href='/nearmeisi/'">零食大全</p>
						<p>第二份半价</p>
					</div>
					<div class="yf_Concessions_top_img">
						<img src="/static/xp_static/img/wm-c.gif"/>
					</div>
				</div>
				<div class="yf_Concessions_top_right">
					<div class="yf_Concessions_top_font">
							<p onclick="window.location.href='/nearmeisi/'">精品特价</p>
						<p>全场美食一折</p>
					</div>
					<div class="yf_Concessions_top_img">
						<img src="/static/xp_static/img/wm-d.gif"/>
					</div>
				</div>
			</div>
		</div>

		<div class="yf_Recommend">
			<h2>推荐商家</h2>
		</div>
		<div class="yf_first">
			<div class="yf_first_img"><img src="/static/xp_static/img/wm-1.gif"/></div>
			<div class="yf_first_right">
				<div class="yf_first_right_top">
					<div class="yf_first_right_top_top">
						<div class="yf_first_right_top_top_img">品牌</div>
						<span>肯德基宅急送(大兴龙湖…</span>
						<div class="yf_first_right_top_top_piao">票</div>
					</div>
					<div class="yf_first_right_top_cen">
					     <div class="yf_first_right_top_cen_img">
					     	<img src="/static/xp_static/img/wm-xing.gif"/>
					     </div>
					     <span>5.0</span>
					     <span>月售50单</span>
					</div>
					<div class="yf_first_right_top_bot">
						<pan>0元起送 /</pan>
						<yang>配送费 ￥9 /</yang>
						<fan>￥48/人 </fan>
				    </div>
				</div>
				<div class="yf_first_right_but">
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">减</div>
						<sa>满100减40</sa>
					</div>
					<div class="yf_first_right_but_top">
						<div class="yf_first_right_but_top_p">新</div>
						<sa>新用户立减30元</sa>
					</div>
				</div>
			</div>
		</div>



		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<div class="footer">
			<ul>
				<li onclick="window.location.href='/index/'">
					<img src="/static/xp_static/img/wm_a.gif">
					<p style="color:#3192ef;">外卖</p>
				</li>
				<li onclick="window.location.href='/find/'">
					<img src="/static/xp_static/images/tu_46.png">
					<p>发现</p>
				</li>
				<li onclick="window.location.href='/order/'">
					<img src="/static/xp_static/images/tu_52.png">
					<p>订单</p>
				</li>
				<li onclick="window.location.href='/mine/'">
					<img src="/static/xp_static/img/wm_d.gif">
					<p>我的</p>
				</li>
			</ul>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	</div>
</body>
</html>