<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="/static/xp_static/css/style8.css">
	<script src="/static/xp_static/js/app.js"></script>
</head>
<body>
	<div class="main">
		<!-- 头部 -->
		<div class="header">
			<div class="JUZ">
				<a href="mine.html"><img src="/static/xp_static/images/qian_03.png"></a>
				<p>积分兑换</p>
			</div>
		</div>
		<!-- 头部结束 -->
		<!-- banner -->
		<div class="banner">
			<img src="/static/xp_static/images/jifen_02.png">
		</div>
		<!-- banner -->
		<!-- nav -->
		<div class="nav">
			<ul>
				<li>
					<img src="/static/xp_static/images/jifen_08.png">
					<p>积分 <span>0</span></p>
				</li>
				<li style="border:0;">
					<img src="/static/xp_static/images/jifen_05.png">
					<p>兑换记录</p>
				</li>
			</ul>
		</div>
		<!-- nav开始 -->
		<!-- content -->
		<div class="content">
			<dl>
				<dt>
					<img src="/static/xp_static/images/jifen_16.png">
				</dt>
				<dd>
					今日新品
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="/static/xp_static/images/jifen_18.png">
				</dt>
				<dd>
					日常家居
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="/static/xp_static/images/jifen_13.png">
				</dt>
				<dd>
					优惠礼券
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="/static/xp_static/images/jifen_21.png">
				</dt>
				<dd>
					食品饮料
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="/static/xp_static/images/jifen_27.png">
				</dt>
				<dd>
					数码家电
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="/static/xp_static/images/jifen_28.png">
				</dt>
				<dd>
					日常家居
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="/static/xp_static/images/jifen_30.png">
				</dt>
				<dd>
					个性美妆
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="/static/xp_static/images/jifen_31.png">
				</dt>
				<dd>
					所有商品
				</dd>
			</dl>
		</div>
		<!-- content结束 -->
		<!-- footer -->
		<div class="footer">
			<ul>
				<li>
					<h3>“0“元购</h3>
					<p>千兆无线路由</p>
					<img src="/static/xp_static/images/jifen_39.png">
				</li>
			</ul>
			<ul class="bg">
				<li style="border:0;width:100%;">
					<h3>限时新品</h3>
					<p>OPPO R11</p>
				</li>
				<li style="border:0;width:100%;margin-top:0.3rem">
					<h3>肌肤吃对</h3>
					<p>美颜加倍</p>
				</li>
			</ul>
		</div>
		<div class="footer">
			<ul>
				<li>
					<h3>“0“元购</h3>
					<p>千兆无线路由</p>
					<img src="/static/xp_static/images/jifen_39.png">
				</li>
			</ul>
			<ul class="bg">
				<li style="border:0;width:100%;">
					<h3>限时新品</h3>
					<p>OPPO R11</p>
				</li>
				<li style="border:0;width:100%;margin-top:0.3rem">
					<h3>肌肤吃对</h3>
					<p>美颜加倍</p>
				</li>
			</ul>
		</div>
		<!-- footer结束 -->
	</div>
</body>
</html>