<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<script src="/static/xp_static/js/app.js"></script>
         <link rel="stylesheet" type="text/css" href="/static/xp_static/css/waimai.css">
	        <link rel="stylesheet" type="text/css" href="/static/xp_static/css/stylee.css">
</head>
<body>
	<div class="main">
		<!-- 头部 -->
		<div class="header">
			<div class="JUZ">
				<p>我的</p>
				<a href="notice.html" ><img src="/static/xp_static/images/tu_06.png"></a>
				<a href="install.html"><img src="/static/xp_static/images/tu_03.png"></a>
			</div>
		</div>
		<!-- 头部结束 -->
		<!-- 登入 -->
		<div class="login" onclick="window.location.href='change.html'">
				<div class="JUZ">
					<img src="images/tu_11.png" alt="">
					<div class="Lore">
						<p>4191360gf</p>
						<br>
						<img src="/static/xp_static/images/tu_17.png" alt="">
						<span>176****9535</span>
					</div>
				</div>
				<img src="/static/xp_static/images/tu_14.png">
		</div>
		<!-- 登入结束 -->
		<!-- 内容 -->
		<div class="content">
			<!-- nav导航 -->
			<div class="nav">
				<ul>
					<li onclick="window.location.href='wallet.html'">
						<p>0.00<span>元</span></p>
						<p>钱包</p>
					</li>
					<li>
						<p style="color:#ff5d39;">4<span>个</span></p>
						<p>优惠</p>
					</li>
					<li style="border:none;">
						<p style="color:#6bc308;">0<span>分</span></p>
						<p>积分</p>
					</li>
				</ul>

			</div>
			<!-- nav导航结束 -->
			<!-- 列表 -->
			<div class="lists">
				<!-- 上 -->
				<div class="lists-t">
					<ul>
						<li onclick="window.location.href='address.html'">
							<img src="/static/xp_static/images/tu_22.png">
							<p>收货地址</p>
						</li>
						<li onclick="window.location.href='collection.html'">
							<img src="/static/xp_static/images/tu_25.png">
							<p>我的收藏</p>
						</li>
					</ul>
				</div>
				<!-- 中 -->
				<div class="lists-t">
					<ul>
						<li>
							<img src="/static/xp_static/images/tu_28.png">
							<p>推荐有奖</p>
							<span>5元现金</span>
						</li>
						<li onclick="window.location.href='integral.html'">
							<img src="/static/xp_static/images/tu_31.png">
							<p>积分商城</p>
							<span>0元好物在这里</span>
						</li>
						<li onclick="window.location.href='member.html'">
							<img src="/static/xp_static/images/tu_35.png">
							<p>饿了就吃会员卡</p>
							<span>会员剩余：28天</span>
						</li>
						<li onclick="window.location.href='choice.html'">
							<img src="/static/xp_static/images/tu_39.png">
							<p>每日精选</p>
							<span>一元起秒杀</span>
						</li>
					</ul>
				</div>
				<!-- 下 -->
				<div class="lists-t">
					<ul>
						<li onclick="window.location.href='service.html'">
							<img src="/static/xp_static/images/tu_22.png">
							<p>服务中心</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- 列表结束 -->
		</div>
		<!-- 底部 -->
		<div class="footer">
			<ul>
				<li onclick="window.location.href='/index/'">
					<img src="/static/xp_static/images/tu_43.png">
					<p>外卖</p>
				</li>
				<li onclick="window.location.href='/find/'">
					<img src="/static/xp_static/images/tu_46.png">
					<p>发现</p>
				</li>
				<li onclick="window.location.href='/order/'">
					<img src="/static/xp_static/images/tu_52.png">
					<p>订单</p>
				</li>
				<li onclick="window.location.href='/mine/'">
					<img src="/static/xp_static/images/tu_49.png">
					<p style="color:#3192ef;">我的</p>
				</li>
			</ul>
		</div>



	</div>
</body>
</html>