<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="/static/xp_static/css/style2.css">
	<script src="/static/xp_static/js/app.js"></script>
</head>
<body>
	<div class="main">
		<!-- 头部 -->
		<div class="header">
			<div class="JUZ">
				<a href="mine.html"  data-transition="slide"><img src="/static/xp_static/images/tong_03.png"></a>
				<p>通知中心</p>
			</div>
		</div>
		<!-- 头部结束 -->
		<!-- 内容 -->
		<div class="content">
			<img src="/static/xp_static/images/tong_07.png">
			<p>没有通知中心</p>

		</div>
		<!-- 内容结束 -->

	</div>
</body>
</html>